@import "../../styles";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 66px - 33px);
  background-color: $main_color;
}

.form {
  display: flex;
  flex-direction: column;
}

.exit_btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
